/*
    #############################################
    1.0 Emotions Section
    #############################################
*/
/* 1.0 Emotions - colors */
.Anger {
  color: red;
  transition: 1s;
}
.Anger.emotion-box:hover {
  background-color: red;
}
.Anger.active {
  background-color: red;
}

.Love {
  color: purple;
  transition: 1s;
}
.Love.emotion-box:hover {
  background-color: purple;
}
.Love.active {
  background-color: purple;
}

.Hate {
  color: black;
  transition: 1s;
}
.Hate.emotion-box:hover {
  background-color: black;
}
.Hate.active {
  background-color: black;
}

.Happy {
  color: yellow;
  transition: 1s;
}
.Happy.emotion-box:hover {
  background-color: yellow;
}
.Happy.active {
  background-color: yellow;
}

.Sad {
  color: orange;
  transition: 1s;
}
.Sad.emotion-box:hover {
  background-color: orange;
}
.Sad.active {
  background-color: orange;
}

/*
    1.1 Emotional Severity - from 1 to 10
*/
.severity-1 {
  font-size: 1rem;
}

.severity-2 {
  font-size: 1.2rem;
}

.severity-3 {
  font-size: 1.3rem;
}

.severity-4 {
  font-size: 1.4rem;
}

.severity-5 {
  font-size: 1.5rem;
}

.severity-6 {
  font-size: 1.6rem;
}

.severity-7 {
  font-size: 1.7rem;
}

.severity-8 {
  font-size: 1.8rem;
}

.severity-9 {
  font-size: 1.9rem;
}

.severity-10 {
  font-size: 2rem;
}

/* Emotion reaction containers */
/* overall wrapper */
div.reaction-wrapper {
  width: 100%;
  height: 40px;
  margin-top: 20px;
}

/* box wrapper */
div.emotion-box {
  width: 19%;
  line-height: 40px;
  text-align: center;
  position: static;
  color: white;
  display: inline-block;
  background-color: grey;
}
div.emotion-box, div.emotion-box p, div.emotion-box span, div.emotion-box a {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

/*
    #############################################
    2.0 Posts Section
    #############################################
*/
div.post {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* Align the post's tagged emotion */
.post-emotion {
  float: right;
  vertical-align: middle;
  line-height: 2rem;
}

i.material-icons.header-icon {
  display: inline-flex;
  vertical-align: middle;
  font-size: 20px;
}

span.icon-text {
  vertical-align: middle;
  font-size: 15px;
}

div.icon-wrapper {
  float: right;
}

div.automatic_thoughts,
div.rational_thoughts {
  width: 45%;
}


div.automatic_thoughts {
  float: left;
  text-align: left;
}

div.rational_thoughts {
  float: right;
  text-align: right;
}

li.automatic_thought_list,
li.rational_thought_list {
  padding-bottom: 10px;
}

li.rational_thought_list {
  direction: rtl;
}

ul.rational_thought_list {
  padding-left: 0;
  -webkit-padding-end: 25px;
}

ul.automatic_thought_list {
  -webkit-padding-start: 25px;
}

/*
    #############################################
    3.0 Create Events Section
    #############################################
*/
textarea.create-box,
input.create-box,
select.create-box {
  width: 80%;
  margin-top: 20px;
  margin-left: 10%;
}
