/* Love */
@import url('https://fonts.googleapis.com/css?family=Lovers+Quarrel');


textarea.create-box,
input.create-box,
select.create-box
{
    width: 80%;
    margin-top:20px;
    margin-left: 10%;
}

.post-emotion
{
	float: right;
    vertical-align: middle;
	line-height: 2rem;
}

/*
	Emotions
*/

.Anger
{
	color: red;
  transition: 1s;
}

div.emotion-box.Anger:hover
{
	background-color: red;
}

div.Anger.active
{
	background-color: red;
}

.Love
{
	color: purple;
  transition: 1s;
}

div.emotion-box.Love:hover
{
	background-color: purple;
}

div.Love.active
{
	background-color: purple;
}

.Hate
{
	color: black;
  transition: 1s;
}

div.emotion-box.Hate:hover
{
	background-color: black;
}

div.Hate.active
{
	background-color: black;
}

.Happy
{
	color: yellow;
  transition: 1s;
}

div.emotion-box.Happy:hover
{
	background-color: yellow;
}

div.Happy.active
{
	background-color: yellow;
}

.Sad
{
	color: orange;
  transition: 1s;
}

div.emotion-box.Sad:hover
{
	background-color: orange;
}

div.Sad.active
{
	background-color: orange;
}



.severity-1
{
	font-size: 1rem;
}

.severity-2
{
	font-size: 1.2rem;
}

.severity-3
{
	font-size: 1.3rem;
}

.severity-4
{
	font-size: 1.4rem;
}

.severity-5
{
	font-size: 1.5rem;
}

.severity-6
{
	font-size: 1.6rem;
	font-weight: bold;
}

.severity-7
{
	font-size: 1.7rem;
	font-weight: bold;
}

.severity-8
{
	font-size: 1.8rem;
	font-weight: bold;
}

.severity-9
{
	font-size: 1.9rem;
	font-weight: bold;
}

.severity-10
{
	font-size: 2rem;
	font-weight: bold;
}

/* Generic Emotions Box styles */

div.emotion-box > a
{
  text-decoration: none;
  color: inherit;
}

div.emotion-box
{
	width:19%;
	line-height: 40px;
	text-align: center;
	position:static;
	color: white;
	display: inline-block;
	background-color: grey;

  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

div.emotion-box *
{
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
}

div.reaction-wrapper
{
	width: 100%;
	height: 40px;
}

/* Post Box styling */

div.post
{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
