/*
    #############################################
    0.0 Body & HTML
    #############################################
*/
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/*
 * 0.1 Bootstrap corrections/modifications
*/
.modal {
  overflow-y: auto;
}

.modal-open {
  overflow: auto;
}

.modal-open[style] {
  padding-right: 0px !important;
}

/*
    #############################################
    1.0 Emotions Section
    #############################################
*/
/* 1.0 Emotions - colors */
.Anger {
  color: red;
  transition: background-color 0.5s ease;
}

.Anger.emotion-box.hoverable:hover {
  background-color: red;
}

.Anger.active {
  background-color: red;
  color: #fff;
}

.Love {
  color: purple;
  transition: background-color 0.5s ease;
}

.Love.emotion-box.hoverable:hover {
  background-color: purple;
}

.Love.active {
  background-color: purple;
  color: #fff;
}

.Hate {
  color: black;
  transition: background-color 0.5s ease;
}

.Hate.emotion-box.hoverable:hover {
  background-color: black;
}

.Hate.active {
  background-color: black;
  color: #fff;
}

.Happy {
  color: orange;
  transition: background-color 0.5s ease;
}

.Happy.emotion-box.hoverable:hover {
  background-color: orange;
}

.Happy.active {
  background-color: orange;
  color: #fff;
}

.Sad {
  color: blue;
  transition: background-color 0.5s ease;
}

.Sad.emotion-box.hoverable:hover {
  background-color: blue;
}

.Sad.active {
  background-color: blue;
  color: #fff;
}

/* Emotion reaction containers */
/* overall wrapper */
div.reaction-wrapper {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  position: static;
  display: inline-block;
}

/* box wrapper */
div.emotion-box {
  width: 19%;
  line-height: 40px;
  text-align: center;
  position: relative;
  color: white;
  display: inline-block;
  background-color: grey;
}

div.emotion-box.create-post:hover > .dropdown-content {
  display: block;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
  z-index: 1;
}

div.emotion-box.create-post > .dropdown-content {
  display: none;
  position: absolute;
  background-color: grey;
  min-width: 100%;
  z-index: -1;
  transform: translateY(-2em);
  transition: all 0.3s ease-in-out;
}

div.emotion-box.create-post > .dropdown-content > input[type=range] {
  writing-mode: bt-lr;
  /* IE */
  -webkit-appearance: slider-vertical;
  /* WebKit */
  transform: rotate(180deg);
}

div.emotion-box, div.emotion-box p, div.emotion-box span, div.emotion-box a {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

/*
    #############################################
    2.0 Posts Section
    #############################################
*/
div.post {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* Align the post's tagged emotion */
.post-emotion {
  float: right;
  vertical-align: middle;
  line-height: 2rem;
}

i.material-icons.header-icon {
  display: inline-flex;
  vertical-align: middle;
  font-size: 20px;
}

span.icon-text {
  vertical-align: middle;
  font-size: 15px;
}

div.icon-wrapper {
  float: right;
}

div.automatic_thoughts,
div.rational_thoughts {
  width: 45%;
}

div.thought_seperator {
  width: 10%;
}

div.automatic_thoughts {
  float: left;
  text-align: left;
}

div.rational_thoughts {
  float: right;
  text-align: right;
}

li.automatic_thought_list,
li.rational_thought_list {
  padding-bottom: 10px;
}

li.rational_thought_list {
  direction: rtl;
}

ul.rational_thought_list {
  padding-left: 0;
  -webkit-padding-end: 25px;
}

ul.automatic_thought_list {
  -webkit-padding-start: 25px;
}

/*
    #############################################
    3.0 Create Events Section
    #############################################
*/
textarea.create-box,
input.create-box,
select.create-box {
  width: 80%;
  margin-top: 20px;
  margin-left: 10%;
}

/*# sourceMappingURL=main.css.map */