/* Colour palletes */
/*
    #############################################
    0.0 Body & HTML
    #############################################
*/
html, body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #f5f8fa;
}

/* main page wrapper */
div.page #page-container {
  margin-top: 75px;
}

/*
 * 0.1 Profile Cover Picture ------------------------------------------
 * This is the main header wrapper for our profile
 * within it, it has lots of stuff, like the profile pic,
 * and menu wrappers.
 * When the user scrolls down, its becomes fixed.
*/
div.profile-cover-img {
  position: relative;
  width: 100%;
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  overflow: hidden;
}

div.profile-cover-img::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: inherit;
  background-attachment: fixed;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

div.profile-cover-img.active {
  top: 0;
  position: fixed;
  z-index: 100;
}

div.profile-cover-img > div.profile-wrapper {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

div.profile-cover-img > div.profile-wrapper p,
div.profile-cover-img > div.profile-wrapper h1 {
  color: white;
  text-shadow: 0px 0px 10px black;
}

div.profile-cover-img div.cover-menu-bar {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.25);
}

div.profile-cover-img > div.cover-menu-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  text-align: center;
}

div.profile-cover-img > div.cover-menu-wrapper div.triangle {
  position: absolute;
  bottom: 0;
  content: '';
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  transition: left .7s;
}

div.profile-cover-img > div.cover-menu-wrapper > span {
  cursor: pointer;
  position: relative;
  z-index: 10;
  font-size: 1.3rem;
  line-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-font-smoothing: subpixel-antialiased;
  /* or antialiased; */
  text-rendering: optimizeLegibility;
}

div.profile-cover-img > div.cover-menu-wrapper > span.active::after {
  position: absolute;
  bottom: 0;
  margin-bottom: -11.5px;
  left: 50%;
  content: '';
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

div.profile-cover-img img.cover-profile-picture {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  max-width: 100px;
  display: inline-block;
}

@media (min-width: 575px), (max-width: 575px) {
  div.profile-cover-img {
    height: 300px;
  }
  div.profile-cover-img.active {
    margin-top: -181px;
  }
}

@media (min-width: 768px) {
  div.profile-cover-img {
    height: 300px;
  }
  div.profile-cover-img.active {
    margin-top: -181px;
  }
}

@media (min-width: 992px) {
  div.profile-cover-img {
    height: 300px;
  }
  div.profile-cover-img.active {
    margin-top: -181px;
  }
}

@media (min-width: 1100px) {
  div.profile-cover-img {
    height: 300px;
  }
  div.profile-cover-img.active {
    margin-top: -181px;
  }
}

@media (min-width: 1200px) {
  div.profile-cover-img {
    height: 340px;
  }
  div.profile-cover-img.active {
    margin-top: -219px;
  }
}

@media (min-width: 1370px) {
  div.profile-cover-img {
    height: 380px;
  }
  div.profile-cover-img.active {
    margin-top: -259px;
  }
}

@media (min-width: 1450px) {
  div.profile-cover-img {
    height: 420px;
  }
  div.profile-cover-img.active {
    margin-top: -299px;
  }
}

@media (min-width: 1510px) {
  div.profile-cover-img {
    height: 460px;
  }
  div.profile-cover-img.active {
    margin-top: -339px;
  }
}

@media (min-width: 1670px) {
  div.profile-cover-img {
    height: 500px;
  }
  div.profile-cover-img.active {
    margin-top: -379px;
  }
}

@media (min-width: 1820px) {
  div.profile-cover-img {
    height: 540px;
  }
  div.profile-cover-img.active {
    margin-top: -419px;
  }
}

/*
 * 0.2 Create posts box ------------------------------------------
 */
div.create-wrapper > textarea {
  border-radius: 1rem;
}

/*
    #############################################
    1.0 Emotions Section
    #############################################
*/
/* 1.0 Emotions - colors */
.Anger {
  color: red;
  transition: background-color 0.5s ease;
}

.Anger.emotion-box.hoverable:hover {
  background-color: red;
}

.Anger.active {
  background-color: red;
  color: #fff;
}

.Love {
  color: purple;
  transition: background-color 0.5s ease;
}

.Love.emotion-box.hoverable:hover {
  background-color: purple;
}

.Love.active {
  background-color: purple;
  color: #fff;
}

.Hate {
  color: black;
  transition: background-color 0.5s ease;
}

.Hate.emotion-box.hoverable:hover {
  background-color: black;
}

.Hate.active {
  background-color: black;
  color: #fff;
}

.Happy {
  color: orange;
  transition: background-color 0.5s ease;
}

.Happy.emotion-box.hoverable:hover {
  background-color: orange;
}

.Happy.active {
  background-color: orange;
  color: #fff;
}

.Sad {
  color: blue;
  transition: background-color 0.5s ease;
}

.Sad.emotion-box.hoverable:hover {
  background-color: blue;
}

.Sad.active {
  background-color: blue;
  color: #fff;
}

/* Emotion reaction containers */
/* overall wrapper */
div.reaction-wrapper {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  position: static;
  display: inline-block;
}

/* box wrapper */
div.emotion-box {
  width: 19%;
  line-height: 40px;
  text-align: center;
  position: relative;
  color: white;
  display: inline-block;
  background-color: grey;
}

div.emotion-box.create-post:hover > .dropdown-content {
  display: block;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
  z-index: 1;
}

div.emotion-box.create-post > .dropdown-content {
  display: none;
  position: absolute;
  background-color: grey;
  min-width: 100%;
  z-index: -1;
  transform: translateY(-2em);
  transition: all 0.3s ease-in-out;
}

div.emotion-box.create-post > .dropdown-content > input[type=range] {
  writing-mode: bt-lr;
  /* IE */
  -webkit-appearance: slider-vertical;
  /* WebKit */
  transform: rotate(180deg);
}

div.emotion-box, div.emotion-box p, div.emotion-box span, div.emotion-box a {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

/*
    #############################################
    2.0 Posts Section
    #############################################
*/
div.post {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* Align the post's tagged emotion */
.post-emotion {
  float: right;
  vertical-align: middle;
  line-height: 2rem;
}

i.material-icons.header-icon {
  display: inline-flex;
  vertical-align: middle;
  font-size: 20px;
}

span.icon-text {
  vertical-align: middle;
  font-size: 15px;
}

div.icon-wrapper {
  float: right;
}

div.automatic_thoughts,
div.rational_thoughts {
  width: 45%;
}

div.thought_seperator {
  width: 10%;
}

div.automatic_thoughts {
  float: left;
  text-align: left;
}

div.rational_thoughts {
  float: right;
  text-align: right;
}

li.automatic_thought_list,
li.rational_thought_list {
  padding-bottom: 10px;
}

li.rational_thought_list {
  direction: rtl;
}

ul.rational_thought_list {
  padding-left: 0;
  -webkit-padding-end: 25px;
}

ul.automatic_thought_list {
  -webkit-padding-start: 25px;
}

/*
    #############################################
    3.0 Create Events Section
    #############################################
*/

/*# sourceMappingURL=main.css.map */