/*
#############################################
1.0 Emotions Section
#############################################
*/

/* 1.0 Emotions - colors */

$emotions : "Anger" red, "Love" purple, "Hate" black, "Happy" yellow, "Sad" orange;

@each $emotion in $emotions
{
    .#{nth($emotion, 1)}
    {
      color: nth($emotion, 2);
      transition: 1s;

      &.emotion-box:hover
      {
        background-color: nth($emotion, 2);
      }

      &.active
      {
        background-color: nth($emotion, 2);
      }

    }
}


/*
    1.1 Emotional Severity - from 1 to 10
*/
@for $i from 1 through 10
{
  .severity-#{$i}
  {
    @if(($i != 10) and ($i != 1))
    {
      font-size: 1 +  ($i / 10) + rem;
    }

    @else if($i == 1)
    {
      font-size: 1rem;
    }

    @else
    {
      font-size: 2rem;
    }

  }
}

/* Emotion reaction containers */

/* overall wrapper */
div.reaction-wrapper
{
	width: 100%;
	height: 40px;
}

/* box wrapper */
div.emotion-box
{
	width:19%;
	line-height: 40px;
	text-align: center;
	position: static;
	color: white;
	display: inline-block;
	background-color: grey;

    &,p,span,a
    {
    	color: white;
    	font-size: 1.5rem;
    	font-weight: bold;
    	text-decoration: none;
    }
}

/*
#############################################
2.0 Posts Section
#############################################
*/

div.post
{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* Align the post's tagged emotion */
.post-emotion
{
	float: right;
  vertical-align: middle;
	line-height: 2rem;
}

.header-icon
{
  
}

/*
#############################################
3.0 Create Events Section
#############################################
*/

textarea.create-box,
input.create-box,
select.create-box
{
    width: 80%;
    margin-top:20px;
    margin-left: 10%;
}
